@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter Tight', sans-serif;
}

@media (min-width: 750px) {
  html,
  body {
    font-size: 0.94vw;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size:1vw;
  }
}
@media (min-width: 2500px) {
  html,
  body {
    font-size:18px;
  }
}