.max_width_layout {
  max-width: 1440px;
  margin-inline: auto;
}

.group span {
  transform-origin: right;
}

.group:hover span {
  transform-origin: left;
}

.hero_title div,
.hero_desc div {
  display: block;
  width: fit-content;
  overflow: hidden;
}

.hero_title span,
.hero_desc span {
  display: block;
}

/* Hide default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Remove default styles */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.ripple {
  animation: ripple 1.8s infinite;
}

.skeleton {
  animation: skeleton-flicker 1.2s ease-in-out infinite;
}

@keyframes skeleton-flicker {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}


::view-transition-old(root) {
  animation: fade-out 0.4s ease forwards;
}

::view-transition-new(root) {
  animation: fade-in 0.4s ease forwards;
  animation-delay: 0.4s; 
  opacity: 0; 
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}